header {
  background-color: #015FFF;
  padding: 2rem;
}

header h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
}

header hr {
  border: 2px solid #f1faee;
  width: 80%;
  margin: 1rem auto;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #5a00b0, #9d00ff); /* neon purple gradient */
  color: white;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

/* Optional: neon text glow */
.neon-text {
  text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

.btn-games{
  background-color: #e87400;
}

.btn-games:hover {
  background-color: #ff8000;
}

.btn-consoles{
  background-color: #01D5FF;
}

